# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# CIFAR-10 dataset
data/

# Trained models
models/*.pth

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log